/* Reset de base */
body {
    font-family: Arial, sans-serif;
    background-image: url('Background.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    color: white;
}



body, h1, p, a, img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.social-links a {
    margin-left: 15px;
}

.social-links img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s;
}

.social-links img:hover {
    transform: scale(1.2);
}

/* Main */
main {
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 10px;
    font-size: 2rem;
    color: #444;
}

p {
    font-size: 1rem;
    color: #666;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    font-size: 0.9rem;
}
